<!DOCTYPE html>
<html>
    <head>
        <title>Request Header Parser Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1 class="header">
                API Basejump: Request Header Parser Microservice
            </h1>
            <blockquote>
                User stories:
                <ul>1) I can get the IP address, language and operating system for my browser.</ul>
            </blockquote>
            <h3>Example usage:</h3>
            <code>https://polar-tundra-63559.herokuapp.com/api/whoami</code>
            <h3>Example output:</h3>
            <code>
                {
                  "ipaddress": "43.180.55.228",
                  "language": "en-US",
                  "software": "X11; Linux x86_64"
                }
            </code>
        </div>
    </body>
</html>